* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    /*background-image: url("assets/images/Root of Nightmare Bg.png");
    background-repeat: repeat-y;*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    background-color: rgb(32, 53, 97);
    border: 0.5px solid black;
    border-radius: 15px;
    margin: auto;
    margin-top: 15px;
    padding: 15px;
    width: 85%;
}

.flex {
    display: flex;
}

.logo {
    border-radius: 25%;
    display: block;
    height: 128px;
    margin-left: auto;
    margin-right: auto;
    transition: 100ms ease;
    width: 128px;
}

.logo:hover {
    transform: scale(1.05);
    margin-bottom: 5px;
}

.logo-desc {
    color: aliceblue;
    font-size: 24pt;
    font-weight: bold;
    flex-direction: column;
    align-items: center;
}

.logo-desc::after {
    content: '|';
    animation: cursor 1s alternate infinite;
}

@keyframes cursor {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.projects-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
    color: white;
}

.project-bg {
    margin-top: 15px;
    width: 264px;
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.33);
    transition: 100ms ease;
}

.project-bg:hover {
    transform: scale(1.05);
    margin-right: 15px;
}

.shadow {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.33);
}

#nav_holder {
    background-color: rgba(9, 9, 9, 0.85);
}

.nav_el {
    padding: 20px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.nav_el:hover {
    background-color: rgb(131, 131, 131);
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.nav_el:active {
    color: rgb(175, 87, 72);
    text-decoration: none;
}