* {
    color: whitesmoke;
    font-family: monospace;
    font-size: 1.1rem;
}

.header {
    position: relative;
    height: 100vh;
    background-image: linear-gradient(to top right,
    rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 1) 90%),
    url('assets/images/bg.png');
    background-size: cover;
    background-position: center;
    transition: background 1s linear;
}

.content {
    height: 2000px;
    background: white;
}

#body {
    width: 1600px;
    background: rgba(0, 0, 0, 0.85);
}

.my-skills-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.skill-bubble {
    align-items: center; /* center children horizontally */
    text-align: center; /* center text */
}

.skill-bubble-img {
    max-width: 80px;
    max-height: 80px;
    border-radius: 20px;
    filter: drop-shadow(2px 4px 6px rgba(255, 255, 255, 0.3));
    transition: 100ms ease-in-out;
}

.skill-bubble-img:hover {
    scale: 115%;
}

.skill-description {
    font-style: italic;
    padding: 12px;
}

@keyframes on-mouse-hover {
    0% {
        scale: 100%;
    }
    25% {
        scale: 115%;
    }
    75% {
        scale: 115%;
    }
    100% {
        scale: 100%;
    }
}

.skill-usage {
    font-weight: bold;
}

.skill-usage-very-high {
    color: #ff6969;
}

.skill-usage-high {
    color: #ff7b1b;
}

.skill-usage-medium {
    color: #dcda4e;
}

.skill-usage-low {
    color: #53c54e;
}

.skill-usage-very-low {
    color: #3f7bff;
}