* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;

    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

a {
    text-decoration: none;
    animation: anchorBlink 4s ease-in-out infinite;
}

a:hover {
    animation: step-end;
    text-decoration: none;
    color: orange;
}

@keyframes anchorBlink {
    0% {
        color: whitesmoke;
    }
    50% {
        color: yellow;
    }
    100% {
        color: whitesmoke;
    }
}

body {
    background: black url("assets/images/star-bg.jpg") repeat;
    animation: moveTwinkleBack 180s alternate infinite;
}

@keyframes moveTwinkleBack {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -5000px 9000px;
    }
}

.container {
    flex-direction: column;
    font-size: 14pt;
    background-color: rgba(45, 45, 45, 0.75);
    border: 1px solid black;
    border-radius: 15px;
    margin: 15px auto auto;
    padding: 20px;
    width: 85%;
}

.container h2 {
    font-style: italic;
}

#clock {
    font-size: 20pt;
    flex-direction: column;
    text-align: right;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin-bottom: -25px;
}

.flex {
    display: flex;
}

#github {
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
}

h2 {
    font-size: 24pt;
    flex-direction: column;
    text-align: center;
}

.logo {
    border-radius: 25%;
    display: block;
    height: 164px;
    margin-left: auto;
    margin-right: auto;
    width: 164px;
}

.logo-desc {
    align-items: center;
    font-size: 24pt;
    font-weight: bold;
    flex-direction: column;
    padding-bottom: 50px;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

/*noinspection ALL*/
.logo-desc i::after {
    content: ".dev";
    animation: logoDescBlink 5s infinite;
    color: hsl(var(--customHue), 100%, 50%);
}

@keyframes logoDescBlink {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.projects {
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px;
    color: white;
}

.project-desc {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    max-width: 175px;
    text-align: justify;
}

.project-desc:hover {
    animation: projectDescShine 4s infinite;
    border: 10px;
    border-radius: 20px;
}

@keyframes projectDescShine {
    0% {
        background-color: rgba(255, 255, 255, 0.1);
    }
    50% {
        background-color: rgba(255, 255, 255, 0.05);
    }
    100% {
        background-color: rgba(255, 255, 255, 0.1);
    }
}

.project-img {
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.33);
    width: 175px;
    transition: 100ms ease;
}

.project-img:hover {
    transform: scale(1.05);
    margin-bottom: 15px;
}

#nav-holder {
    background-color: rgba(9, 9, 9, 0.85);
    justify-content: center;
    border-radius: 15px;
    padding: 20px;
}

.nav-el {
    animation: none;
    padding: 8px;
    margin-right: 50px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.nav-el:hover {
    font-weight: bold;
    border-radius: 15px;
    background-color: rgb(131, 131, 131);
    padding: 8px;
    text-align: center;
    transition: 100ms ease;
}

.nav-el:active {
    color: rgb(49, 138, 255);
    text-decoration: none;
    text-shadow: -0.5px -0.5px 0 #000000, 0.5px -0.5px 0 #000000, -0.5px 0.5px 0 #000000, 0.5px 0.5px 0 #000000;
    transition: 100ms ease;
}

.shadow {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.33);
}