* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;

    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

a {
    text-decoration: none;
    animation: anchorBlink 4s ease-in-out infinite;
}

a:hover {
    animation: step-end;
    text-decoration: none;
    color: orange;
}

@keyframes anchorBlink {
    0% {
        color: whitesmoke;
    }
    50% {
        color: yellow;
    }
    100% {
        color: whitesmoke;
    }
}

body {
    background: black url("../../assets/images/star-bg.jpg") repeat fixed;
    animation: moveTwinkleBack 600s alternate infinite;
}

@keyframes moveTwinkleBack {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -50000px 90000px;
    }
}

.container {
    animation: transitionIn 0.8s;
    flex-direction: column;
    font-size: 14pt;
    background-color: rgba(45, 45, 45, 0.75);
    border: 1px solid black;
    border-radius: 15px;
    margin: 15px auto auto;
    padding: 20px;
    max-width: 1200px;
}

.container h2 {
    font-style: italic;
}

#clock {
    font-size: 20pt;
    flex-direction: column;
    text-align: right;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin-bottom: -25px;
}

.fa-arrow-left {
    font-size: 14pt;
    filter: drop-shadow(2px 4px 6px black);
    text-decoration: none;
    animation: leftArrowBlink 4s ease-in-out infinite;
}

@keyframes leftArrowBlink {
    0% {
        color: whitesmoke;
    }
    50% {
        color: #ff3131;
    }
    100% {
        color: whitesmoke;
    }
}

.fa-arrow-left:hover {
    animation: step-end;
    text-decoration: none;
    color: orange;
}

.flex {
    display: flex;
}

#github {
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
}

h2 {
    font-size: 24pt;
    flex-direction: column;
    text-align: center;
}

html {
    scroll-behavior: smooth;
}

.logo {
    border-radius: 50%;
    display: block;
    max-width: 10%;
    height: auto;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.logo-desc {
    align-items: center;
    font-size: 24pt;
    font-weight: bold;
    flex-direction: column;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

/*noinspection ALL*/
.logo-desc i::after {
    content: ".dev";
    animation: logoDescBlink 5s infinite;
    color: hsl(var(--customHue), 100%, 50%);
}

@keyframes logoDescBlink {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.projects {
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px;
    color: white;
}

.project-title {
    text-align: center;
    font-size: 16pt;
    font-weight: bold;
    text-decoration: blink;
    padding-bottom: 20px;
    transition: 100ms ease;
    animation: slight-wave 1.5s alternate infinite;
}

@keyframes slight-wave {
    from {transform: scale(1.0);}
    to {transform: scale(1.1);}
}

.project-desc {
    justify-content: center;
    padding: 20px;
    text-align: justify;
    border-radius: 20px;
    border: 10px;
    transition: 100ms ease;
}

.project-desc:hover {
    animation: projectDescShine 1.5s alternate infinite;
}

@keyframes projectDescShine {
    from {
        background-color: rgba(255, 255, 255, 0.00);
    }
    to {
        background-color: rgba(255, 255, 255, 0.12);
    }
}

.project-text {
    max-width: 1000px;
    text-align: center;
}

.project-text li {
    padding-bottom: 5px;
}

.project-img {
    display: block;
    justify-content: center;
    border-radius: 20px;
    filter: drop-shadow(2px 4px 6px black);
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.shadow {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.33);
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media only screen and (max-width: 755px) {
    #clock {
        text-align: center;
        padding-bottom: 50px;
    }

    .logo {
        max-width: 100%;
        height: 80px;
        width: 80px;
    }
}